body {
    font-family: 'Roboto', sans-serif;
    background-color: #4D7198;
}
table {
    border: 0px solid grey;
    border-spacing: 2px 15px;
}

.form{
    background-color: white;
    color:#2d4763;
    display:block;
    font-size: 18px;
    width: 40%;

    margin: 1%;
    padding: 9px;
    line-height: 3em;
    border: 1px solid black;
}

.form1{
    background-color: white;
    color:#2d4763;
    font-size: 18px;
    width: 50%;
    height: 100px;
    line-height: 3em;
    border: 1px solid black;
}

.text{
    float: right;
}

a, a:visited {
    color:white;
}

.actionHistory {
    border: 1px solid black;

    margin: 5px;
}

.selectedSubjects {
    margin: 0 1em 0 0;
}

.subjectsToView {
    text-align: center;
    border: 1px solid green;
}

.taskView {
    width: 500px;
    margin: auto;
    text-align: center;
    border: cadetblue;
    background-color: lightgray
}