<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset=utf-8>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<div class="form">
<table style="padding:0; margin:0; width:100%;">
    <tr valign="top">
        <td style="padding:0; margin:0; width:100%;">
            <span>Добавить студента
                <form id="student" action="addStudent" method="get">
                    <input name="last_name" type="text" placeholder="Фамилия" style="width: 250px;"/> <br>
                    <input name="first_name" type="text" placeholder="Имя" style="width: 250px;"/><br>
                    <input name="second_name" type="text" placeholder="Отчество" style="width: 250px;"/><br>
                    <input type="submit" value="Добавить">
                </form>
            </span>
        </td>
        <td style="padding:0; margin:0; width:100%;">
            <span>Удалить студента
                <form id="student_id" action="deleteStudent" method="get">
                    <input name="student_id" type="number" placeholder="введите ID студента" required min="1" max="1000" style="width: 250px;"/><br>
                    <input type="submit" value="Удалить из базы">
                </form>
            </span>
        </td>
    </tr>
    <tr>
        <td>
            <span th:text="${message1}"/></td>
        </tr>
    </tr>
    <tr valign="top">
        <td>
            <span>Добавить сотрудника
                <form id="stuff" action="addStuff" method="get">
                    <input name="last_name" type="text" placeholder="Фамилия" style="width: 250px;"/> <br>
                    <input name="first_name" type="text" placeholder="Имя" style="width: 250px;"/><br>
                    <input name="second_name" type="text" placeholder="Отчество" style="width: 250px;"/><br>
                    <input name="position" type="text" placeholder="Должность" style="width: 250px;"/><br>
                    <input type="submit" value="Добавить">
                </form>
            </span>
        </td>
        <td>
            <span>Удалить сотрудника
                <form id="stuff_id" action="deleteStuff" method="get">
                    <input name="stuff_id" type="number" placeholder="введите ID сотрудника" required min="1" max="1000" style="width: 250px;"/><br>
                    <input type="submit" value="Удалить из базы">
                </form>
            </span>
        </td>
    </tr>
    <tr>
        <td>
            <span th:text="${message2}" />
        </td>
    </tr>
</table>
</div>
</body>
</html>