<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset=utf-8>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>

<a href="/auth/studentAuth/">
    <span class="form">Информация для студента</span>
</a><br>

<a href="/auth/stuffAuth/">
    <span class="form">Информация для сотрудника</span>
</a><br>

</body>
</html>