<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset=utf-8>
    <title>Student info</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>

<div class="form" style="border: 1px solid black;">
    <h3>Информация</h3>
    <table>
        <tr>
            <td class="text">ID:</td>
            <td><span th:text="${record.getId()}"/></td>
        </tr>
        <tr>
            <td class="text">№ группы:</td>
            <td><span th:text="${record.getGroupId()}"/></td>
        </tr>
        <tr>
            <td class="text">Фамилия:</td>
            <td><span th:text="${record.getLastName()}"/></td>
        </tr>
        <tr>
            <td class="text">Имя:</td>
            <td><span th:text="${record.getFirstName()}"/></td>
        </tr>
        <tr>
            <td class="text">Отчество:</td>
            <td><span th:text="${record.getSecondName()}"/></td>
        </tr>
    </table>
</div>
</body>
</html>
