<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset=utf-8>
    <title>Student grades</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<div class="form" style="border: 1px solid black;">
    <h3>Успеваемость</h3>
    № ID студента: <span th:text="${student_id}"/> <br>
    № группы : <span th:text="${group_id}"/>
    <hr>
    <table>
        <tr>
            <td>Предмет</td>
            <td>Оценка</td>
        </tr>
        <div th:each="row : ${requests}">
            <tr>
                <td><span th:text="${row.getSubject_title()}"/></td>
                <td><span th:text="${row.getGrade()}"/></td>
            </tr>
        </div>
    </table>

    <hr>

    <table>
        <tr>
            <td>Средний балл</td>
            <td><span th:text="${averageScore}"/></td>
        </tr>
        <tr>
            <td>Всего записей: </td>
            <td><span th:text="${recordsCount}" /></td>
        </tr>
    </table>
</div>
</body>
</html>
