<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset=utf-8>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>

    <a href="student/info">
        <span class="form">Просмотр персональных данных</span>
    </a>

    <a href="student/progress">
        <span class="form">Просмотр успеваемости</span>
    </a>

</body>
</html>