<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset=utf-8>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>

    <a href="stuff/info">
        <span class="form">Просмотр персональных данных</span>
    </a>


        <span class="form">Формирование групп</span>



        <span class="form">Установка дисциплин для групп</span>


    <a href="stuff/getAllStudents">
        <span class="form">Просмотр списка всех студентов</span>
    </a>

    <div class="form">
        <table style="padding:0; margin:0;">
            <tr>
                <td align="left">
                    <span >Просмотр списка студентов по № группы </span>
                </td>
                <td align="right">
                    <form id="group_id" action="stuff/getStudentsByGroupId" method="get">
                        <input name="group_id" type="number" placeholder="введите № группы" required min="1" max="1000" style="width: 250px;"/>
                        <input type="submit">
                    </form>
                </td>
            </tr>
        </table>
    </div>


        <span class="form">Простановка оценок</span>


    <a href="/admin">
        <span class="form">Управление базой данных</span>
    </a><br>

</body>
</html>