<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset=utf-8>
    <title>Student grades</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<div class="form" style="border: 1px solid black;">
    <h3>Список студентов</h3><br>
    Группы №: <span th:text="${group_id}"/>
    <hr>
    <table>
        <tr>
            <td>№ ID</td>
            <td>Фамилия</td>
            <td>Имя</td>
            <td>Отчество</td>
            <td>Успеваемость</td>
        </tr>
        <div th:each="row : ${record}">
            <tr>
                <td><span th:text="${row.getId()}"/></td>
                <td><span th:text="${row.getLastName()}"/></td>
                <td><span th:text="${row.getFirstName()}"/></td>
                <td><span th:text="${row.getSecondName()}"/></td>
                <td><span th:text="${row.getAverage()}"/></td>
            </tr>
        </div>
    </table>

    <hr>

    <table>
        <tr>
            <td>Средний балл</td>
            <td><span th:text="${allStudentsAverage}"/></td>
        </tr>
        <tr>
            <td>Всего студентов: </td>
            <td><span th:text="${recordsCount}" /></td>
        </tr>
    </table>
</div>
</body>
</html>
