<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset=utf-8>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
    <form class="form" id="input_id" action="authorize" method="post">
        <span th:text="${message}" />
        <table>
            <tr>
                <td>Введите id:</td>
                <td><input name="id" type="number" required min="1" max="100"/></td>
            </tr>
            <tr>
                <td>Введите пароль:</td>
                <td><input type="password" name="password"/></td>
            </tr>
        </table>
        <input type="submit">
    </form>
</body>
</html>