<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Создание задания</title>
</head>
<body>
<div class="createForm">
    <h1>Создание задания</h1>
    <div>
        <a href="/task/">
            <button class="button">К списку заданий</button>
        </a>
    </div>
    <form method="post">
        <p>
            <label>Введите номер студента</label>
            <br>
            <input name="studentId" type="text">
        </p>
        <p>
            <label>Выберите предмет для студента</label>
            <br/>
            <select name="subjects" multiple>
                <option th:each="task : ${tasks}" th:value="${task.id}" th:text="${task.title}"></option>
            </select>
        </p>
        <p>
            <label>Выберите дату сдачи контрольных работ</label>
            <br/>
            <input name="deadline" type="date"/>
        </p>
        <label>Комментарии</label>
        <br>
        <textarea name="comment"></textarea>
        <p>
            <button class="button">Создать задание для студента</button>
        </p>
    </form>
</div>

<style>
    .errorMessage {
        color: red;
    }

    .createForm {
        width: 500px;
        margin: auto;
        text-align: center;
        border: cadetblue;
        background-color: lightgray
    }

    .button {
        margin-bottom: 10px;
        background-color: lightseagreen;
        font-size: medium
    }

</style>
</body>
</html>
