<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Просмотр задания</title>
    <link href="../../static/css/task-styles.css" rel="stylesheet">
</head>
<body>
<div class="taskView" style="width: 500px; margin: auto; text-align: center; border: cadetblue; background-color: lightgray">
    <h1 th:text="${'Студент №'+record.getStudentId()}"></h1>

    <div>
       Статус: <span th:text="${record.getStatus().getMessage()}"/> <br> <hr>
    </div>

    <div>
        <table class="subjectsToView" style="border-collapse: collapse; margin: auto">
            <tr>
                <th style="border: 1px solid gray">Название предмета</th>
                <th style="border: 1px solid gray">Оценка</th>
            </tr>
            <th:block th:each="subject: ${record.getSubjects()}">
                <tr>
                    <td th:text="${subject.getTitle()}" style="border: 1px solid gray">Название предмета</td>
                    <td th:text="${subject.getAssessment()}" style="border: 1px solid gray">Оценка</td>
                </tr>
            </th:block>
        </table>
        <br>
    </div>

    <div>
        Дата сдачи контрольной работы: <span th:text="${#dates.format(record.getDeadLine(), 'dd-MM-yyyy')}"/> <br><br><br>
    </div>

    <div>
        Комментарии преподавателя: <p th:text="${record.getComment()}"/> <hr>
    </div>

    <div>
        <a href="/task/">
            <button style="margin-bottom: 10px; background-color: lightseagreen; font-size: medium">Вернуться к текущим заданиям</button>
        </a>
        <br>
    </div>


</div>
</body>
</html>
